/* Defaults */
:root {
	--font-family: 'Roboto', -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #7c6f64;
	--color-gray-50: #3c3836;
	--color-gray-90: #282828;
	--color-03: #3c3836;

	--background-color: #d5c4a1;

	--text-color: var(--color-gray-90);
	--text-color-link: #065969;
	--text-color-link-active: #928374;
	--text-color-link-visited: #3f7b7e;

	--syntax-tab-size: 2;

	--main-font-size: clamp(16px, 16px + 0.50vw, 21px);
	--letter-spacing-narrow: -0.03rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #eeeeee;
		--color-gray-50: #d1d1d1;
		--color-gray-90: #c0c1c1;
		--color-03: #918773;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #c95c03;
		--text-color-link-active: #918773;
		--text-color-link-visited: #918773;

		--background-color: #1d2021;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	font-size: var(--main-font-size);
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 1020px;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p:not(.message-box) {
	line-height: calc(var(--main-font-size)*1.55);
	text-wrap: pretty;
	max-width: 55ch;
}

li {
	line-height: calc(var(--main-font-size)*1.55);
	text-wrap: pretty;
	max-width: 55ch;
}

a[href] {
	color: var(--text-color-link);
	text-decoration: none;
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
	text-decoration: solid;
}

main {
	padding: 2rem 2vh 2rem 2vh;
	margin: 0 auto 0 auto;
}
main :first-child {
	margin-top: 0;
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	font-size: 0.85rem;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 0.8em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	line-height: 1.1;
	list-style: none;
	padding: 0;
	font-size: 0.85rem;
	color: var(--color-gray-50);
	font-family: var(--font-family-monospace);
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: var(--color-gray-50);
}

h1 {
	font-size: clamp(2rem, 4vw, 2.2rem);
	text-wrap: balance;
	line-height: 1.1;
	letter-spacing: var(--letter-spacing-narrow);
}
.single-title {
	margin-bottom: 0.3rem;
	padding-bottom: 0.3rem;
}
h2 + .header-anchor {
	font-size: clamp(1.3rem, 4vw, 1.8rem);
	line-height: 1.1;
}
h2:not(:first-child), h3, h4 {
	padding: 1rem 0 0 0;
}
h2, h3, h4 {
	color: var(--color-gray-50);
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: 0.3rem;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 0.3rem;
}
hr {
	border: 1px solid rgba(0,0,0,0.1);
	margin: 2.2rem 0 2.2rem 0;
	padding: 0;
}
*::marker {
	color: var(--color-03);
}
.footer {
	margin-bottom: 2rem;
	font-size: 0.9rem;
	font-family: var(--font-family-monospace);
	padding: 0 2vh 0 2vh;
}
.article-wrapper {
	max-width: 58ch;
	margin: 2rem auto 0 auto;
}
.image-wrapper {
	max-width: 40rem;
	margin: 0 auto 0 auto;
}
.post-header {
	text-align: center;
	margin-bottom: 1rem;
}
.monospace {
	font-family: var(--font-family-monospace);
}
.autor {
	font-size: 0.9rem;
	border-radius: 0.4rem;
	padding: 1rem;
	background: rgba(0,0,0,0.03);
}