---
layout: layouts/home.njk
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div>
	<p class="message-box">Este é o site do jornalista, roteirista e ghostwriter <a href="https://eduf.me/sobre/" rel="me">Eduardo Fernandes.</a></p>
</div>