---
layout: layouts/home.njk
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div>
	<p class="message-box">Este é o site do jornalista e roteirista <a href="https://eduf.me/sobre/" rel="me">Eduardo Fernandes.</a></p>
</div>

<h3>Minha motivação</h3>
<p>Contribuir para manter um ambiente cultural saudável, divertido e livre de extremismos.</p>

<h3>Carreira</h3>
<p>Venho escrevendo podcasts e experiências digitais para marcas como Telefónica, Wondery, Americanas S.A., Accenture, Pearson, entre outras. Alguns exemplos:</p>

<ul>
    <li><a href="../tags/b9/" rel="me">Trabalhos para a B9 / Braincast</a>.</li>
	<li><a href="https://www.linkedin.com/in/eduardofernandes/" rel="me">LinkedIn</a></li>
</ul>

<h3>Projetos pessoais</h3>
<ul>
    <li><a href="https://textosobretela.com" rel="me">Newsletter Texto Sobre Tela</a>.</li>
    <li><a href="../tags/monoestereo/"  rel="me">Podcast MonoEstéreo</a>.</li>
	<li><a href="https://www.youtube.com/@edufme"  rel="me">Vídeos</a>.</li>
</ul>

<h3>Em vidas passadas</h3>
<p>Editei os sites da <em>Superinteressante</em> e da <em>Trip</em>.</p>

<h3>Este site</h3>
<p>Aqui você encontra um <a href="/blog/" rel="me">arquivo</a> de tudo o que publico na Internet. <a href="/tags/" rel="me">Escolha o assunto</a>.</p>