<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="robots" content="index, follow" />

		<link rel="canonical" href="{{  page.url }}" />
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}

		<style>{% getBundle "css" %}</style>

		<meta property="og:title" content="{{ title or metadata.title }}" />
  		<meta property="og:url" content="{{ page.url }}" />
  		<meta property="og:description" content="{{ description or renderData.description }}" />
  		{% if coverImage %}<meta property="og:image" content="https://eduf.me/blog/images/{{ coverImage }}" />{% endif %}
  		<meta property="og:type" content="article" />


	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer class="footer">
			<p>Eduf.me © 2024, por Eduardo Fernandes - <a href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a> | <a href="https://eduf.me/feed/feed.xml" rel="me">RSS</a> | <a href="https://eduf.me/feed/feed.json">JSON</a></p>
		</footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
